*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.scala_dependencies
.worksheet
.idea
src/main/resources/2016-06-22-15.json

.classpath

.project

.settings/org.eclipse.core.resources.prefs
